<div class="address-info box">
  <img id="user-image" src="{{logo}}"></img>
  <h1 class="title">{{title}}</h1>
  <h2 class="subtitle">{{subtitle}}</h2>
  <input type="text" id="address-input" placeholder="Enter Registered Voter Address">
  <img src="https://s3.amazonaws.com/vip-voter-information-tool/images/magnifying-glass.svg" class="magnifying-glass" id="submit-address-button">
  {{!-- <div id="submit-address-button">GO</div> --}}
  <div id="app-info"><span>{{assets.text.summary}}<span></div>
</div>
<div class="footer">
  <span>{{ assets.text.footer.text }}</span>
  <i id="plus-icon"><img src="https://s3.amazonaws.com/vip-voter-information-tool/images/plus.png"></i>
</div>

{{> modals }}

<div id="fade"></div>