<img id="user-image" src="{{assets.logo}}"></img>
<div class="address-info box">
  <h1 class="title">{{title}}</h1>
  <h2 class="subtitle">{{subtitle}}</h2>
  <input type="text" id="address-input" placeholder="Enter Registered Voter Address">
  <img src="images/magnifying-glass.svg" class="magnifying-glass">
  <div id="submit-address-button">GO</div>
  <div id="app-info">{{assets.text.summary}}</div>
</div>
<div class="footer">
  <span>{{ assets.text.footer.text }}</span>
  <i id="plus-icon"><img src="./images/plus.png"></i>
</div>

{{> modals }}

<div id="fade"></div>