<div class="box" id="alert">
  <span id="text"></span>
  <span id="alert-close"><img src="./images/plus.png"></span>
</div>

<div class="info box left" id="registered-address">
  {{assets.text.headers.registeredVoterAddress}}
  <span>{{assets.text.headers.edit}}</span>
</div>

<div class="box left">
  {{> address data.normalizedInput }}
  <input type="text" class="change-address" placeholder="Enter a different address">
  {{!-- <img src="images/magnifying-glass.svg" class="magnifying-glass change-address"> --}}
</div>

<div class="info box left" id="more-elections">
  {{assets.text.headers.elections}}
  <span>
    <img src="./images/plus.png" class="toggle-image plus">
    <img src="./images/minus.png" class="toggle-image minus hidden">
  </span>
</div>

<div class="info box left" id="election-list">
  <div class="election-selection">
    <img src="./images/radio-checked.png" class="radio checked">
    <img src="./images/radio-unchecked.png" class="radio unchecked hidden">
    <span class="hidden">{{ data.election.id }}</span>
    {{ data.election.name }}
  </div>
  {{#each data.otherElections }}
  <div class="election-selection">
    <img src="./images/radio-checked.png" class="radio checked hidden">
    <img src="./images/radio-unchecked.png" class="radio unchecked">
    <span class="hidden">{{ id }}</span>
    {{ name }}
  </div>
  {{/each}}
</div>

<div class="box left" id="chosen-election">
  {{>election data.election}}
  <a href="" title="{{ data.election.name }}" class="addthisevent" style="background-image: url('./images/calendar.png'); float: right; margin-top: -30px; margin-right: 2px; background-color: transparent; border: 0; height: 20px; width: 20px; background-size: contain; padding: 0; background-position: center;">

      <span class="_start"> {{data.election.dateForCalendar }}</span>
      <span class="_end"> {{data.election.dateForCalendar }}</span>
      <span class="_summary">{{ data.election.name }}</span>
      <span class="_description">{{ data.election.name }}</span>
      <span class="_location">{{> address data.pollingLocations.0.address }}</span>
      <span class="_all_day_event">true</span>
      <span class="_date_format">MM/DD/YYYY</span>
  </a> 
  <!-- <img src="./images/calendar.png"> -->
</div>

<div class="info box left" id="polling-location">
  {{assets.text.headers.pollingLocation}}
  <span id="map-toggle">
    <img src="./images/plus.png" class="toggle-image plus">
    <img src="./images/minus.png" class="toggle-image minus hidden">
  </span>
</div>

<div id="location" class="box right">
  {{> address data.pollingLocations.0.address }}
  <span>
    <a href="#" target="_blank">
      <img src="./images/directions.png">
    </a>
  </span>
</div>
<div id="map-canvas" class="right"></div>

<div class="info box left" id="resources-toggle">
  {{assets.text.headers.voterResources}}
  <span>
    <img src="./images/plus.png" class="toggle-image plus hidden">
    <img src="./images/minus.png" class="toggle-image minus">
  </span>
</div>
<div class="box information-items right" id="about-resources">
  {{assets.text.resources.summary}}
</div>
<div id="more-resources" class="right">
  <div class="subsection box">
  {{assets.text.resources.title}}
  </div>
  <div class="correspondence-address box">
  <h1>{{assets.text.resources.local_jurisdiction}}</h1>
  <b>{{ data.state.0.local_jurisdiction.electionAdministrationBody.name }}</b>
  <b>{{ data.state.0.local_jurisdiction.name }}</b><br>
  {{ data.state.0.local_jurisdiction.electionAdministrationBody.hoursOfOperation }}
  {{> normalized-address data.state.0.local_jurisdiction.electionAdministrationBody.correspondenceAddress }}
  {{> normalized-address data.state.0.local_jurisdiction.electionAdministrationBody.physicalAddress }}
  <br>
  <h1>{{assets.text.resources.stateElectionsOffice}}</h1>
  <b>{{ data.state.0.electionAdministrationBody.name }}</b>
  {{ data.state.0.electionAdministrationBody.hoursOfOperation }}
  {{> normalized-address data.state.0.electionAdministrationBody.correspondenceAddress }}
  {{> normalized-address data.state.0.electionAdministrationBody.physicalAddress }}
  </div>
  <div class="subsection box">
  {{assets.text.resources.moreResources.title}}
  </div>
  <div class="box information-links">
  {{> election-administration-body data.state.0.electionAdministrationBody }}
  </div>
  <div class="subsection box">
  {{assets.text.resources.voterIdRequirements.title}}
  </div>
  <div class="box information-items">
    <div class="voter-id-info">
    {{#each data.voterId }}
      <div class="question">{{ question }}</div>
      <div class="answer">{{ answer }}</div>
    {{/each}}
    <a href="{{ data.voterIdLink }}">{{assets.text.resources.voterIdRequirements.title}}</a>
    </div>
  </div>
</div>

<div class="info box left" id="ballot-information">
  {{assets.text.headers.ballotInformation}}
  <span>
    <img src="./images/plus.png" class="toggle-image plus hidden">
    <img src="./images/minus.png" class="toggle-image minus">
  </span>
</div>
<div class="contests right" id="all-contests">
{{#each data.contests}}
{{> contest}}
{{/each}}
</div>

<div class="footer">
  <span>
  {{assets.text.footer.text}}
  </span>
  <a href="#" target="_blank"><i id="info-icon">i</i></a>
</div>

{{> modals }}
<div id="fade"></div>