<div class="info box" id="registered-address">
  Registered Voter Address
  <span>Edit</span>
</div>

<div class="box">
  {{> address data.normalizedInput }}
  <input type="text" class="change-address">
</div>

<div class="info box" id="more-elections">
  Elections
  <span>
    <img src="./images/plus.png" class="toggle-image plus">
    <img src="./images/minus.png" class="toggle-image minus hidden">
  </span>
</div>

<div class="info box" id="election-list">
  <div class="election-selection">
    {{!-- <div class="radio checked"><div class="radio-selected"></div></div> --}}
    <img src="./images/radio-checked.png" class="radio checked">
    <img src="./images/radio-unchecked.png" class="radio unchecked hidden">
    <span class="hidden">{{ data.election.id }}</span>
    {{ data.election.name }}
  </div>
  {{#each data.otherElections }}
  <div class="election-selection">
    {{!-- <div class="radio"><div class="radio-selected"></div></div> --}}
    <img src="./images/radio-checked.png" class="radio checked hidden">
    <img src="./images/radio-unchecked.png" class="radio unchecked">
    <span class="hidden">{{ id }}</span>
    {{ name }}
  </div>
  {{/each}}
</div>

<div class="box" id="chosen-election">
{{>election data.election}}
<img src="./images/calendar.png">
</div>

<div class="info box" id="polling-location">
  Polling Location:
  <span id="map-toggle">
    <img src="./images/plus.png" class="toggle-image plus">
    <img src="./images/minus.png" class="toggle-image minus hidden">
  </span>
</div>

<div id="location" class="box">
  {{> address data.pollingLocations.0.address }}
  <span>
    <a href="#" target="_blank">
      <img src="./images/directions.png">
    </a>
  </span>
</div>
<div id="map-canvas"></div>

<div class="info box" id="resources-toggle">
  Voter Resources
  <span>
    <img src="./images/plus.png" class="toggle-image plus">
    <img src="./images/minus.png" class="toggle-image minus hidden">
  </span>
</div>
<div class="box information-items">
  Information on how to navigate the elections process, including deadlines, Voter ID information, and registration links.
</div>
<div id="more-resources">
  <div class="subsection box">
  Local Election Administration
  </div>
  <div class="correspondence-address box">
  <h1>Local Jurisdiction</h1>
  <b>{{ data.state.0.local_jurisdiction.electionAdministrationBody.name }}</b>
  <b>{{ data.state.0.local_jurisdiction.name }}</b><br>
  {{ data.state.0.local_jurisdiction.electionAdministrationBody.hoursOfOperation }}
  {{> normalized-address data.state.0.local_jurisdiction.electionAdministrationBody.correspondenceAddress }}
  {{> normalized-address data.state.0.local_jurisdiction.electionAdministrationBody.physicalAddress }}
  <br>
  <h1>State Elections Office</h1>
  <b>{{ data.state.0.electionAdministrationBody.name }}</b>
  {{ data.state.0.electionAdministrationBody.hoursOfOperation }}
  {{> normalized-address data.state.0.electionAdministrationBody.correspondenceAddress }}
  {{> normalized-address data.state.0.electionAdministrationBody.physicalAddress }}
  </div>
  <div class="subsection box">
  Additional Resources
  </div>
  <div class="box information-links">
  {{> election-administration-body data.state.0.electionAdministrationBody }}
  </div>
  <div class="subsection box">
  Voter ID Requirements
  </div>
  <div class="box information-items">
    <div class="voter-id-info">
    {{#each data.voterId }}
      <div class="question">{{ question }}</div>
      <div class="answer">{{ answer }}</div>
    {{/each}}
    <a href="{{ data.voterIdLink }}">Link</a>
    </div>
  {{!-- {{> election-administration-body data.state.0.electionAdministrationBody }}
  {{> election-administration-body data.state.0.local_jurisdiction.electionAdministrationBody }} --}}
  </div>
</div>
{{!-- <div id="voter-resources" class="box">
Voter Resources
<div class="right-arrow"></div>
</div> --}}
<div class="contests">
<div class="info box">Ballot Information</div>
{{#each data.contests}}
{{> contest}}
{{/each}}
</div>
<div class="footer">
  For the most complete and up to date information, consult your local election official
  <a href="#" target="_blank"><i id="info-icon">i</i></a>
  {{!-- <i id="plus-icon">+</i> --}}
</div>

{{> modals }}
<div id="fade"></div>