<div class="address">
  <div class="address-name">
  {{ name }}
  </div>
  <div class="address-name">
  {{ locationName }}
  </div>
  <div class="address-line">
  {{ line1 }}
  </div>
  <div class="address-line">
  {{ line2 }}
  </div>
  <div class="address-line">
  {{ line3 }}
  </div>
  <div class="address-line">
  {{ city }}
  {{ state }}
  {{ zip }}
  </div>
</div>