<div class="contest contest-toggle">
	<div class="subsection box">
		<p>
		{{ referendumTitle }}
		{{ office }}
		</p>
		<div class="contest-type"> 
			{{ primaryParty }}
		</div>
		<span class="subsection-plus">&#8212</span>
	</div>
	<div class="candidate-list">
		{{#if referendumSubtitle }}
		{{#if referendumUrl }}
		<a href="{{ referendumUrl }}">
		{{/if}}
			<div class="referendum-subtitle box">
				{{ referendumTitle }}
				{{#if referendumUrl}}
				<img src="https://d13luoc3ou2p3l.cloudfront.net/images/arrow.png" class="arrow">
				{{/if}}
				{{ referendumSubtitle }}
			</div>
		{{#if referendumUrl}}
		</a>
		{{/if}}
		{{/if }}
		{{#each candidates}}
		{{#if candidateUrl}}
		<a href="{{ candidateUrl }}" target="_blank">
		{{/if}}
			<div class="candidate-item box">
				<div class="name">
				{{ name }}
				</div>
				{{#if candidateUrl}}
				<img src="https://d13luoc3ou2p3l.cloudfront.net/images/arrow.png" class="arrow">
				{{/if}}
				<div class="party">
				{{ party }}
				</div>
			</div>
		{{#if candidateUrl}}
		</a>
		{{/if}}
		{{/each}}
	</div>
</div>