<div class="contest contest-toggle">
	<div class="subsection box">
		{{ office }}<br>
		<div class="contest-type"> 
			{{ primaryParty }}
			{{ type }}
		</div>
		<span>+</span>
	</div>
	<div class="candidate-list">
		{{#each candidates}}
		<a href="{{ candidateUrl }}" target="_blank">
			<div class="candidate-item box">
				<div class="name">
				{{ name }}
				</div>
				<span class="right-arrow"><span class="right-inner-arrow right-arrow"></span></span>
				<div class="party">
				{{ party }}
				</div>
			</div>
		</a>
		{{/each}}
	</div>
</div>