<div class="election-official">
  <div class="name">
  {{ name }}
  </div>
  <div class="title">
  {{ title }}
  </div>
  <div class="office-phone-number">
  {{ officePhoneNumber }}
  </div>
  <div class="fax-number">
  {{ faxNumber }}
  </div>
  <div class="email-address">
  {{ emailAddress }}
  </div>
</div>