<div class="election-administration-body">
  <div class="box name">
  {{ name }}
  </div>
  {{#if electionInfoUrl }}
  <a class="box election-info-url" href="{{ electionInfoUrl }}" target="_blank">
    Election Information
    <div class="right-arrow"></div>
  </a>
  {{/if}}
  {{#if electionRegistrationConfirmationUrl }}
  <a class="box election-registration-confirmation-url" href="{{ electionRegistrationConfirmationUrl }}" target="_blank">
    Registration Confirmation
    <div class="right-arrow"></div>
  </a>
  {{/if}}
  {{#if absenteeVotingInfoUrl}}
  <a class="box absentee-voting-info-url" href="{{ absenteeVotingInfoUrl }}" target="_blank">
  Absentee Voting Information
  <div class="right-arrow"></div>
  </a>
  {{/if}}
  {{#if votingLocationFinderUrl}}
  <a class="box voting-location-finder-url" href="{{ votingLocationFinderUrl }}" target="_blank">
    Voting Location Finder
    <div class="right-arrow"></div>
  </a>
  {{/if}}
  {{#if ballotInfoUrl }}
  <a class="box ballot-info-url" href="{{ ballotInfoUrl }}" target="_blank">
    Ballot Information
    <div class="right-arrow"></div>
  </a>
  {{/if}}
  {{#if voter_services }}
  <div class="box voter-services">
  {{ voter_services }}
  </div>
  {{/if}}
  {{#if hoursOfOperation }}
  <div class="box hours-of-operation">
  {{ hoursOfOperation }}
  </div>
  {{/if}}
  {{#if correspondenceAddress }}
  <div class="box correspondence-address">
    Correspondence Address:
    {{> normalized-address this.correspondenceAddress }}
  </div>
  {{/if}}
  {{#if physicalAddress}}
  <div class="box physical-address">
    {{> normalized-address this.physicalAddress}}
  </div>
  {{/if}}
  {{#if electionOfficials}}
  <div class="box election-officials">
  {{#each electionOfficials}}
    {{> election-official }}
  {{/each}}
  </div>
  {{/if}}
  {{#if sources}}
  <div class="box sources">
  {{#each sources}}
  {{> source }}
  {{/each}}
  </div>
  {{/if}}
</div>