<div class="election-administration-body">
  {{#if data.state.0.electionAdministrationBody.electionInfoUrl }}
  <a class="election-info-url" href="{{ data.state.0.electionAdministrationBody.electionInfoUrl }}" target="_blank">
    {{assets.text.resources.moreResources.electionInformationUrl}}
  </a>
  <br><br>
  {{/if}}
  {{#if data.state.0.electionAdministrationBody.electionRegistrationConfirmationUrl }}
  <a class="election-registration-confirmation-url" href="{{ data.state.0.electionAdministrationBody.electionRegistrationConfirmationUrl }}" target="_blank">
    {{assets.text.resources.moreResources.registrationConfirmationUrl}}
  </a>
  <br><br>
  {{/if}}
  {{#if data.state.0.electionAdministrationBody.absenteeVotingInfoUrl}}
  <a class="absentee-voting-info-url" href="{{ data.state.0.electionAdministrationBody.absenteeVotingInfoUrl }}" target="_blank">
    {{assets.text.resources.moreResources.absenteeVotingInformationUrl}}
  </a>
  <br><br>
  {{/if}}
  {{#if data.state.0.electionAdministrationBody.votingLocationFinderUrl}}
  <a class="voting-location-finder-url" href="{{ data.state.0.electionAdministrationBody.votingLocationFinderUrl }}" target="_blank">
    {{assets.text.resources.moreResources.votingLocationFinderUrl}}
  </a>
  <br><br>
  {{/if}}
  {{#if data.state.0.electionAdministrationBody.ballotInfoUrl }}
  <a class="ballot-info-url" href="{{ data.state.0.electionAdministrationBody.ballotInfoUrl }}" target="_blank">
    {{assets.text.resources.moreResources.ballotInformationUrl}}
  </a>
  <br>
  {{/if}}
{{!--   {{#if voter_services }}
  <div class="box voter-services">
  {{ voter_services }}
  </div>
  {{/if}}
  {{#if hoursOfOperation }}
  <div class="box hours-of-operation">
  {{ hoursOfOperation }}
  </div>
  {{/if}}
  {{#if correspondenceAddress }}
  <div class="box correspondence-address">
    Correspondence Address:
    {{> normalized-address this.correspondenceAddress }}
  </div>
  {{/if}}
  {{#if physicalAddress}}
  <div class="box physical-address">
    {{> normalized-address this.physicalAddress}}
  </div>
  {{/if}}
  {{#if electionOfficials}}
  <div class="box election-officials">
  {{#each electionOfficials}}
    {{> election-official }}
  {{/each}}
  </div>
  {{/if}}
  {{#if sources}}
  <div class="box sources">
  {{#each sources}}
  {{> source }}
  {{/each}}
  </div>
  {{/if}} --}}
</div>