<div class="modal" id="about">
  <h2>{{assets.text.about.title}}</h2>
  <p>{{assets.text.about.content}}</p>
  <div id="close-button"><img src="./images/plus.png"></div>
</div>
<div class="modal" id="address-not-found">
  <h2>{{assets.text.addressNotFound.title}}</h2>
  {{{assets.text.addressNotFound.text}}}
  <button>{{assets.text.addressNotFound.button}}</button>
</div>
<div class="modal" id="current-location">
  <h2>{{assets.text.mailInVoting.title}}</h2>
  <p>{{assets.text.mailInVoting.text}}</p>
  <span>
    <button id="use-registered-address">{{assets.text.mailInVoting.registeredAddress}}</button>
    <button id="use-current-location">{{assets.text.mailInVoting.currentLocation}}</button>
  </span>
</div>