<div class="normalized-address">
	<div class="location-name">
	{{ locationName }}
	</div>
	<div class="address-line">
	{{ line1 }}
	</div>
	<div class="address-line">
	{{ line2 }}
	</div>
	<div class="address-line">
	{{ line3 }}
	</div>
	<span class="city">
	{{ city }},
	</span>
	<span class="state">
	{{ state }}
	</span>
	<span class="zip">
	{{ zip }}
	</span>
</div>